*{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    background-color: black;
    }
.logo{
 display: flex;
 justify-content: space-evenly;
 align-self: center;

}
.logo img{
    width: 25%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
}
header{
    position: sticky;
    width: 100%;
    top: 0;
    white-space: nowrap;
    z-index: 9999;
}
.navList{
    text-align: center;
}


.navList li{
    display: inline-block;
    padding-right: 10px;
    font-size: 35px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 20px;
}



/*header ends here*/
.hero{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.herov{
    width: 100%;
}

#Events{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
}
#eventsTitle {
  text-align: center;
  margin-top: 20px;
  font-size: xx-large;
  margin-bottom: 2%;
}
.events-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: left;
}


.events-grid__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .events-grid__container:not(.events-grid__container--wide) {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .events-grid__container:not(.events-grid__container--wide) {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .events-grid__container:not(.events-grid__container--wide) {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .events-grid__container:not(.events-grid__container--wide) {
      max-width: 1140px;
  }
}
.poster {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  
  text-align: center;
}
.poster img {
  width: 100%;
  height: 400px;
  position: relative;
}
.poster h4 {
  font-size: 28px;
  margin: 10px 0 5px;
  text-align: left;
  
}
.poster h5 {
  font-size: 26px;
  margin: 5px 0;
  color: #888;
  text-align: left;
}
.poster p {
  font-size: 24px;
  color: #888;
  margin: 5px 0 15px;
  text-align: left;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}



.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 250px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemLeft,
.itemRight {
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.wrapper img{  
    width: 320px;
  height: 180px;}
.itemLeft {
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
}
.itemRight {
  right: max(calc(200px * 8), calc(100% + 400px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(60s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(60s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(60s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(60s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(60s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(60s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(60s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(60s / 8 * (8 - 8) * -1);
}
.discord{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    
}
.custom-size {
    font-size: 400px; /* Adjust the size as needed */
  }
  .fa-discord {
    color: white;
    transition: color 0.3s;
  
  }

  @keyframes customBeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  @keyframes colorRotate {
    0% {
      color: #ff00ff; /* Neon Pink */
    }
    25% {
      color: #00ffff; /* Neon Cyan */
    }
    50% {
      color: #00ff00; /* Neon Green */
    }
    75% {
      color: #ff00ff; /* Neon Pink */
    }
    100% {
      color: #00ffff; /* Neon Cyan */
    }
  }

  .discord {
    animation: customBeat 2s infinite;
  }

  .fa-discord:hover {
    animation: customBeat 2s infinite, colorRotate 4s linear infinite;
  }

  footer{
    padding: 10%;
    text-align: center;
    font-size: 100px;
  }
 .CTA{
  
 }
 .join{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 87px;
  z-index: 99;
 }

.join, img{
  width: auto;
  height: 600px;
  z-index: 99;
  background-color: transparent;
}
.join h1{
  z-index: 99;
  background-color: transparent;
  font-size: 60px;
}



.wrapperDiaongalOtaku {
  width: 70%;
  
  margin-inline: auto;
  height: 40px;
  position: relative;
  overflow: hidden;
  font-size: xx-large;
  transform: translate(0, 340px) skewY(-30deg);
  z-index: 0;
}

.wrapperOtakuTop {
  width: 70%;
  
  margin-inline: auto;
  height: 40px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  font-size: xx-large;
}
.wrapperOtakuBottom {
  width: 70%;
  margin-inline: auto;
  height: 40px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  font-size: xx-large;
  transform: translate(0,643px);
}


@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.itemOtaku,
.itemOtaku1 {
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.itemOtaku {
  left: max(calc(25px * 8), 100%);
  animation-name: scrollLeft;
}
.itemOtaku1 {
  right: max(calc(200px * 8), calc(100% + 400px));
  animation-name: scrollRight;
}

.ooitem1 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 1) * -1);
}

.ooitem2 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 2) * -1);
}

.ooitem3 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 3) * -1);
}

.ooitem4 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 4) * -1);
}

.ooitem5 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 5) * -1);
}

.ooitem6 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 6) * -1);
}

.ooitem7 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 7) * -1);
}

.ooitem8 {
  transform: skewY(30deg);
  animation-delay: calc(60s / 8 * (8 - 8) * -1);
}

.oitem1 {
  animation-delay: calc(60s / 8 * (8 - 1) * -1);
}

.oitem2 {
  animation-delay: calc(60s / 8 * (8 - 2) * -1);
}

.oitem3 {
  animation-delay: calc(60s / 8 * (8 - 3) * -1);
}

.oitem4 {
  animation-delay: calc(60s / 8 * (8 - 4) * -1);
}

.oitem5 {
  animation-delay: calc(60s / 8 * (8 - 5) * -1);
}

.oitem6 {
  animation-delay: calc(60s / 8 * (8 - 6) * -1);
}

.oitem7 {
  animation-delay: calc(60s / 8 * (8 - 7) * -1);
}

.oitem8 {
  animation-delay: calc(60s / 8 * (8 - 8) * -1);
}

.button {
  background-color: #EE083F;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: xx-large;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1;
  text-align: center;
}

.button:hover {
  background-color: #c90634;
}

.button:active {
  background-color: #a0052b;
}